@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #F6AE99;
}

h1, h2, h3, h6 {
  font-weight: bold;
}

.container {
  width: 300px;
  margin: auto;
}

.tanah {
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  float: right;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tanah::after {
  content: '';
  display: block;
  width: 100px;
  height: 90px;
  position: absolute;
  background: url(tanah.png) bottom center no-repeat;
  background-size: 90%;
  top: 20px;
}

.tikus {
  width: 100px;
  height: 100px;
  background: url(tikus.png) bottom center no-repeat;
  position: absolute;
  background-size: 80%;
  top: 40px;
  transition: top 0.3s;
}

.tanah.muncul .tikus {
  top: -8px;
}